/* Defaults */
html, body {
	height: 100%;
}
body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: white;
	color: #1d1d1f;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1em;
	-moz-font-feature-settings: 'kern';
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
a {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

main {
	position: relative;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: start;
	justify-content: start;
	-webkit-align-items: left;
	align-items: left;
	width: 1280px;
	margin: 0 auto;
	padding: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
main > div {
	display: inline-block;
	position: relative;
	-webkit-flex: 1;
	flex: 1;
	min-width: 200px;
	height: 100%;
	min-height: 150px;
	margin-right: 25px;
}
main > div:first-of-type {
	-webkit-flex: none;
	flex: none;
	-webkit-flex-basis: 320px;
	flex-basis: 320px;
}
main > div:last-of-type {
	margin-right: 0;
}
.header {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: start;
	justify-content: start;
	-webkit-align-items: left;
	align-items: left;
	width: 100%;
	height: auto;
	min-height: 25px;
	margin: 0 0 15px 0;
}
.title {
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	cursor: default;
}
.title-receipt {
	display: none;
}
.receipt .title-feature {
	display: none;
}
.receipt .title-receipt {
	display: inline-block;
}
#direction {
	display: inline-block;
}
#suffix {
	display: inline-block;
	position: relative;
	min-width: 18px;
	height: 25px;
	margin-left: 5px;
	padding: 0 10px 0 5px;
	color: #aa8278;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	outline: 0px solid transparent;
	cursor: text;
	-webkit-transition: margin-right .15s;
	transition: margin-right .15s;
}
#suffix::before {
	content: ".";
}
#suffix::after {
	content: "";
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 25px;
	border-radius: 5px;
	background: #fff2f0;
	-webkit-transition: width .15s, top .15s, height .15s;
	transition: width .15s, top .15s, height .15s;
}
#suffix:hover,
#suffix:focus {
	margin-right: 5px;
}
#suffix:hover::after,
#suffix:focus::after {
	width: calc(100% + 5px);
	top: -5px;
	height: 35px;
}
.action {
	display: inline-block;
	position: relative;
	padding: 7px 11px;
	margin-left: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1em;
	font-weight: normal;
	background: #f1f1f3;
	color: #7d7d7f;
	cursor: default;
	-webkit-transition: opacity .15s, background .15s, color .15s;
	transition: opacity .15s, background .15s, color .15s;
	opacity: 0;
}
.ready .action {
	cursor: pointer;
	opacity: 1;
}
.ready .action:hover {
	background: #1d1d1f;
	color: white;
	opacity: .8;
}
.action-active {
	background: #1d1d1f;
	color: white;
	opacity: 1;
}
.action-active:hover {
	opacity: 1;
}
.action-group,
.action-group:hover,
.ready .action-group:hover {
	background: transparent;
	color: #7d7d7f;
	padding-right: 0;
	cursor: default;
}
.ready .action-group:hover {
	opacity: 1;
}
.characters {
	display: block;
	position: relative;
	width: 100%;
	min-height: 200px;
	margin: 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 5px;
	border: 1px solid #9d9d9f;
	outline: none;
	text-decoration: none;
	resize: none;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	font-family: monospace, monospace;
	font-size: 14px;
	line-height: 1.25em;
	text-align: left;
	overflow: auto;
	overflow-y: hidden;
	background-color: transparent;
	color: inherit;
}
.feature {
	display: block;
	position: relative;
	width: 100%;
	min-height: 200px;
	margin: 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #9d9d9f;
	color: inherit;
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	font-family: monospace, monospace;
	font-size: 14px;
	line-height: 1.25em;
	text-align: left;
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap;
	cursor: text;
}
.feature-color {
	display: inline-block;
	color: #4863a3;
}
.feature-color-suffix {
	display: inline-block;
	color: #aa8278;
}
.feature::after {
	content: "copied";
	display: none;
	position: absolute;
	left: 50%;
	top: 100px;
	height: 25px;
	padding: 8px 15px;
	border-radius: 5px;
	background: #fff2f0;
	color: #aa8278;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	pointer-events: none;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
	opacity: 0;
}
.feature-copied-ready::after {
	display: block;
}
.feature-copied::after {
	opacity: 1;
}
.feature-box {
	position: relative;
}
.copy {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 7px 11px;
	margin-left: 5px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1em;
	font-weight: normal;
	background: #f1f1f3;
	color: #7d7d7f;
	cursor: default;
	-webkit-transition: opacity .15s, background .15s, color .15s;
	transition: opacity .15s, background .15s, color .15s;
	opacity: 0;
}
.copy::before {
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	right: -10px;
	bottom: -10px;
}
.ready .copy {
	cursor: pointer;
	opacity: 1;
}
.ready .copy:hover {
	background: #1d1d1f;
	color: white;
	opacity: .8;
}

footer {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	position: relative;
	width: 1280px;
	margin: 0 auto;
	padding: 0 50px 50px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	color: #7d7d7f;
}



@media (max-width: 1280px) {
	main,
	footer {
		width: 100%;
	}
}
@media (max-width: 1050px) {
	html, body {
		height: auto;
	}
	body {
		display: block;
	}
	main {
		display: block;
		width: 100%;
		height: auto;
		padding: 25px;
	}
	main > div {
		width: 100%;
		margin: 0 0 25px 0;
	}
	main > div:last-of-type {
		margin-bottom: 0;
	}
	footer {
		padding: 0 25px 25px 25px;
	}
}
@media (max-width: 420px) {
	.title {
		display: block;
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}
	.action {
		margin: 5px 5px 0 0;
	}
}





